apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-a
  labels:
    app.kubernetes.io/name: service-a
    app.kubernetes.io/part-of: microservices
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: service-a
  template:
    metadata:
      labels:
        app.kubernetes.io/name: service-a
        app.kubernetes.io/part-of: microservices
    spec:
      containers:
        - name: service-a
          image: registry.k8s.io/echoserver:1.10
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: http
          env:
            - name: SERVICE_NAME
              value: service-a
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi

