apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-b
  labels:
    app.kubernetes.io/name: service-b
    app.kubernetes.io/part-of: microservices
spec:
  replicas: 2
  selector:
    matchLabels:
      app.kubernetes.io/name: service-b
  template:
    metadata:
      labels:
        app.kubernetes.io/name: service-b
        app.kubernetes.io/part-of: microservices
    spec:
      containers:
        - name: service-b
          image: nginx:1.25.3
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
              name: http
          env:
            - name: SERVICE_NAME
              value: service-b
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 250m
              memory: 256Mi

